html, body {
	height: 100%;
}

body {
	background: #eee;
	margin: 0;
}

#ptr {
	position: absolute;
	width: 100%;
	color: #000;
	text-align: center;
	height: 50px;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

#content {
	min-height: 100%;
}

.ptr-loading #content, .ptr-loading #ptr {
	transition: all .25s ease;
}

.ptr-reset #content, .ptr-reset #ptr {
	transition: all 0.67s ease 0.67s;
}

.ptr-reset #content {
	-webkit-transform: translate3d( 0, 0, 0 );
	transform: translate3d( 0, 0, 0 );
}
